#xThunderCompact, #xThunderDownload, #xThunderDownloadLink {
    list-style-image: url("download.gif");
}
#xThunderDownloadOffLine {
    list-style-image: url("downloadoffline.gif");
}
#xThunderDownloadAll {
    list-style-image: url("downloadall.gif");
}
#xThunderToolbarBtn  {
    list-style-image: url("icon24.png");
    -moz-box-orient: vertical;
}
toolbar[iconsize="small"] #xThunderToolbarBtn,

.agentNonsup {
    color: red;
}
